$color-basic-black:#000000;
$color-light-mint:#63D1BB;
$color-basic-mint:#56C3B2;
$color-dark-grey:#444444;
$color-basic-grey:#F1F1F1;
$color-white:#FFFFFF;
$color-light-grey: #ECECEC;
$color-basic-blue: #62D1BA;
$color-night-grey:#E5E5E5;
$color-grey:#C6C6C6;


$mobil-width:320px;
$table-width:768px;
$desctol-width:1200px;
