$color-basic-black:#000000;
$color-light-mint:#63D1BB;
$color-light-mint-opacity: rgba(99,209,187,0.3);
$color-basic-mint:#56C3B2;
$color-dark-grey:#444444;
$color-basic-grey:#F1F1F1;
$color-white:#FFFFFF;
$color-light-grey: #ECECEC;
$color-basic-blue: #62D1BA;
$color-night-grey:#E5E5E5;
$color-grey:#C6C6C6;
$color-black-opacity:rgba(255,255,255,0.6);
$color-black-opacity-light: rgba(255,255,255,0.3);


$mobil-width:320px;
$tablet-width:768px;
$desctop-width:1200px;
.hide {
    display: none;

    @media (min-width:$tablet-width) {
        display: block;
    }
}
.show {
    display: block;
}