$color-basic-black:#000000;
$color-light-mint:#63D1BB;
$color-basic-mint:#56C3B2;
$color-night-grey:#444444;
$color-basic-grey:#F1F1F1;
$color-white:#FFFFFF;
$color-light-grey: #ECECEC;

$mobil-width:320px;
$table-width:768px;
$desctol-width:1200px;
