$color-basic-black:#000000;
$color-light-mint:#63D1BB;
$color-light-mint-opacity: rgba(99,209,187,0.3);
$color-basic-mint:#56C3B2;
$color-dark-grey:#444444;
$color-basic-grey:#F1F1F1;
$color-white:#FFFFFF;
$color-white-opacity: rgba(255,255,255,0.3);
$color-light-grey: #ECECEC;
$color-basic-blue: #62D1BA;
$color-blue-light: #46c1AE;
$color-blue-light-opacity: rgba(70,193,174,0.3);
$color-blue-light-opacity-min: rgba(70,193,174,0.1);
$color-night-grey:#E5E5E5;
$color-grey:#C6C6C6;
$color-black-opacity:rgba(0,0,0,0.6);
$color-black-opacity-light: rgba(0,0,0,0.3);
$color-black-opacity-min: rgba(0,0,0,0.2);
$color-mint: rgba(20,144,128,0.7);
$color-mint-opacity: rgba(20,144,128,0.5);
$color-mint-light-opacity: rgba(20,144,128,0.3);
$color-social: #231F20;


$mobil-width:320px;
$tablet-width:768px;
$desctop-width:1200px;
