.address {
    margin-bottom: 62px;
    margin-left: 30px;

    @media (min-width:$tablet-width) {
        margin: 0;
        padding: 0 50px 0 50px;
        display: flex;
        margin-bottom: 47px;
    }

    @media (min-width: $desctop-width) {
        padding: 0;
        grid-column: 1;
        grid-row: 3/4;
        flex-direction: column;
       
    }
  }
  .address__mail {
    display: flex;
    margin-bottom: 30px;

    @media (min-width:$tablet-width) {
        margin: 0;
        margin-right: 64px;
     }

     @media (min-width:$desctop-width) {
         margin: 0;
         margin-bottom: 33px ;
     }
  }
  .address__office {
    display: flex;
  }
  .address__text {
    margin: 0;
    @include font (15px,30px);
    color: $color-dark-grey ;

    @media (min-width:$tablet-width) {
        @include font (17px,30px,);

    }
  }
  .address__text:not(:last-child) {
    margin-right: 35px;

    @media(min-width: $tablet-width) {
        margin-right: 30px;
    }
  }
  .address__link {
    @include font (15px,30px);
    color: $color-dark-grey ;
    text-decoration: underline;
    text-decoration-color: $color-basic-blue ;

    &:hover,
    &:focus {
        color: $color-blue-light;
    }

    &:active {
        text-decoration-color: $color-blue-light-opacity-min;
    }

    @media (min-width: $tablet-width) {
        @include font (17px,30px);
    }
  }
 