.card {
    border: 1px solid $color-light-grey;
    margin-bottom: 30px;

    &:hover,
    &:focus {
        box-shadow: 0 6px 10px 0 $color-black-opacity-min;
    }
    &:active {
        box-shadow: 0 3px 5px 0 $color-black-opacity-min;
    }

    @media (min-width: $tablet-width) {
        margin-bottom: 54px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $desctop-width) {
        display: block;
    }
}

.card__picture {
    @media (min-width: $tablet-width) {
        height: 334px;
    }
    @media (min-width: $desctop-width) {
        height: 462px;
    }
}

.card__img {
    @media (min-width: $tablet-width) {
        height: 334px;
    }
    @media (min-width: $desctop-width) {
        height: 462px;
    }
}
.card__discription {
    padding: 27px 32px 0 28px;

    @media (min-width: $tablet-width) {
        padding: 27px 33px 30px 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (min-width: $desctop-width) {
        padding: 27px 32px 26px 27px;
    }
}
.card__title {
    margin: 0;
    @include font (17px,24px,700);
    margin-bottom: 6px;
    color: $color-basic-black;

    &:hover,
    &:focus {
        color: $color-black-opacity;
    }
    &:active {
        color: $color-black-opacity-light;
    }

    @media (min-width: $tablet-width) {
        @include font (20px,24px,700);
    }
}
.card__text {
    margin: 0;
    @include font (13px,30px);
    color: $color-dark-grey;
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
        @include font(15px,30px);
    }

    @media (min-width: $desctop-width) {
        margin-bottom: 36.5px;
    }
}

 .card:nth-child(3) .card__text {
    @media (min-width: $desctop-width) {
        margin-bottom: 12.5px;
    }
}
.card__wrapper {
    border-top: 1px solid $color-light-grey;
    padding-top: 23px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 26px;

    @media (min-width: $tablet-width) {
        margin: 0;
    }
}
.card__price {
    @include font (15px,24px,700);

    @media (min-width: $tablet-width) {
        @include font(17px,24px,700);
    }
}
.card__icon {
    fill: $color-black-opacity-min;

    &:hover,
    &:focus {
        fill: $color-light-mint;
    }
    &:active {
        fill: $color-light-mint-opacity;
    }
}