.contacts {
    background-image: url(../../img/zigzag-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 38px 0 39px 0;
    display: flex;
    flex-direction: column;

    @media (min-width:$tablet-width) {
        background-image: url(../../img/zigzag-table.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 0;
        padding-top: 68px;
        position: relative;
        
    }

    @media (min-width:$desctop-width) {
        background-image: url(../../img/zigzag-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 94px 0 105px 225px;
        display: grid;
        grid-template-columns: 295px 527px;
        column-gap: 57px;
        row-gap: 35px;
    }
  }
  .contacts__title {
    margin: 0;
    @include font (18px,30px,700);
    margin-left: 30px;
    margin-bottom: 28px;

    @media (min-width:$tablet-width) {
        margin: 0;
        @include font (43px,50px,700);
        margin-bottom: 49px;
        padding-left: 50px;
    
    }

    @media (min-width:$desctop-width) {
        padding: 0;
        margin: 0;
        @include font (53px,57px,700);
        grid-column: 1;
        grid-row: 2/3;
    }
  }
  .contacts__title::after {
      @media (min-width: $tablet-width) {
          content: url(../../img/flag.svg);
          position: absolute;
          top: 46px;
          right: 53px;
      }

      @media (min-width:$desctop-width) {
          top: 133px;
          left: 113px;
      }
  }
  .contact__picture {
      @media (min-width:$desctop-width) {
          height: 457px;
        grid-column: 2;
        grid-row: 1/5; 
      }
  }
  .contacts__img {
    width: 100%;
    margin-bottom: 41px;

    @media (min-width:$tablet-width) {
        margin-bottom: 55px;
    }

    @media (min-width:$desctop-width) {
        height: 457px;
        margin: 0;
    }
  }
  .contacts__img::before {
    content: url(../../img/map-pin.svg);
  }
  .contacts__button {
    padding: 16px 52px 16px 53px;
    align-self: center;

    @media (min-width:$tablet-width) {
        padding: 16px 36px 16px 36px;
        margin-bottom: 57px;
       
    }

    @media (min-width:$desctop-width) {
        padding: 16px 27px 16px 27px;
        grid-column: 1;
        grid-row: 4/5;
        margin: 0;
        margin-right: 65px;
    }
  
  }