.copyright {
    display: flex;
    justify-content: space-between;
    padding: 22px 39px 0 39px;

    @media (min-width:$tablet-width) {
        padding: 0;
    }
  }
  .copyright__text {
    margin: 0;
    @include font (19px,18px,700);
    margin-top: 5px;

    @media (min-width:$tablet-width) {
        margin-right: 27px;
        
    }
  }
  .copyright__icon {
      fill: $color-light-mint;

      &:hover,
      &:focus {
          fill: $color-blue-light;
      }

      &:active {
          fill: $color-blue-light-opacity;
      }
  }