.corn {
    @media (min-width:$tablet-width) {
      position: absolute;
      display: flex;
      right: 50px;
      top:1px;
    }

    @media (min-width: $desctop-width) {
        right: 74px;
    }
  }
.corn__item {
    @include font (18px,24px,700);
    color: $color-basic-black;
    border-bottom: 1px $color-light-grey solid;
    padding: 28px 0 28px 30px;

    &:hover,
    &:focus {
      color: $color-black-opacity;
    }
    &:active {
        color: $color-black-opacity-light;
    }
    
  
    @media (min-width:$tablet-width) {
      border: none;
      padding: 0;
    }
  }
  .corn__item:first-child{
    @media (min-width:$tablet-width) {
      border-left: 1px $color-light-grey solid;
      border-right: 1px $color-light-grey solid;
      padding: 34px 31px 30px 33px;
      margin-right: 31px;
    }
  }
  .corn__item:first-child .corn__link {
    @media (min-width:$tablet-width) {
      display: none;
    }
  }
.corn__item:first-child .corn__icon {
    @media (min-width:$tablet-width) {
        margin: 0;
    }
}
.corn__item:last-child {
    @media (min-width:$tablet-width) {
        padding-top: 32px;
    }
}
.corn__icon {
    margin-right: 23px;
    fill: $color-black-opacity-min;

    &:hover,
    &:focus {
        fill: $color-light-mint;
    }
    &:active {
        fill: $color-light-mint-opacity;
    }
  }
  
  .corn__icon:last-child {
    margin-right: 27px;
    padding-top: 1px;
  }