.page-footer {
  padding: 25px 30px 22px 30px;
  background-color: $color-basic-grey;

  @media (min-width:$tablet-width) {
    padding: 51px 50px 58px 50px;
    display: flex;
    justify-content: space-between;
  }
}
.page-footer__logo {
  display: none;

  @media (min-width:$tablet-width) {
    display: block;
    fill: $color-basic-black;

    &:hover,
    &:focus {
      fill: $color-blue-light;
    }

    &:active {
      fill: $color-blue-light-opacity;
    }
  }
}

