.form {
    padding: 17px 30px 0 31px;

    @media (min-width: $tablet-width) {
        padding: 0;
        padding-top: 67px;
    }
    @media (min-width: $desctop-width) {
        padding-top: 101px;
    }
}
.form__text {
    margin: 0;
    @include font (13px,24px);
    color: $color-dark-grey;
    margin-bottom: 30px;

    @media (min-width: $tablet-width) {
        padding-left: 50px;
        padding-right: 50px;
        @include font (17px,30px);
        margin-bottom: 81px;
    }

    @media (min-width: $desctop-width) {
        padding-left: 255px;
        width: 702px;
        margin-bottom: 81px;
        
    }
}

.form__title {
    margin: 0;
    @include font(17px,16px,700);
    color: $color-light-mint;
    text-transform: uppercase;
    margin-bottom: 18px;
    position: relative;
    overflow: hidden;

    @media (min-width: $tablet-width) {
        margin: 0;
    }

}
.form__title::after {
    content:"";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $color-light-mint;
    top: 6px;
    left: 60px;

    @media (min-width: $tablet-width) {
        display: none;
    }
}
.form__title-mail::after {
    left: 78px;
}

.form__wrapper {
    @media (min-width: $tablet-width) {
        padding: 0 50px 0 50px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }

    @media (min-width: $desctop-width) {
        padding: 0;
        width: 694px;
       margin: 0 auto;
       margin-bottom: 50px;
    }
}
.form__text-note {
    margin: 0;
    @include font (14px,16px);
    color: $color-dark-grey;
    margin-bottom: 30px;
    padding-left: 2px;

    @media (min-width: $tablet-width) {
        margin: 0;
        @include font (17px,30px);
    }
}
.form__button {
    @include font (17px,16px,700);
    padding: 18px 37px 14px 37px;
    margin-bottom: 55px;
    width: 100%;

    @media (min-width: $tablet-width) {
        padding: 18px 30px 14px 30px;
        margin: 0;
        width: 230px;
    }
}