body {
  margin: 0 auto;
  font-family: 'Open Sans', Arial, sans-serif;

}
a {
  text-decoration: none;
}
.button {
  margin: 0;
  padding: 0;
  @include font (18px,20px,700);
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  color:$color-dark-grey;
  background-color:$color-white;
  border: 2px $color-dark-grey solid;
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 22px 31px 0 0;
  border-bottom: 1px $color-light-grey solid;
}
.menu__button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  margin-left: 67px;
  margin-bottom: 22px;
}
.menu__logo {
  margin-bottom: 19px;
}
