.initials {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
        margin: 0;
        padding: 50px 50px 25px 50px;
        display: grid;
        grid-template-columns: 167px 1fr;
    }

    @media (min-width: $desctop-width) {
        padding: 50px 225px 10px 97px;
        grid-template-columns: 127px 1fr;
    }
}
.form__title-initials {
    @media (min-width: $tablet-width) {
        padding-top: 14px;
    }
}
.initials__wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
        padding: 0;
        
    }

}
.initials__wrap {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
        flex-direction: row;
    }
}
.initials__label {
    @include font (17px,18px,700);

    @media (min-width: $tablet-width) {
        @include font (19px,18px,700);
        padding-top: 14px;
        margin-right: 26px;
    }
}
.initials__input {
    border: none;
    border-bottom: 2px solid $color-basic-black;
    padding: 17px 0 17px 0;
    margin-bottom: 22px;

    &:hover,
    &:focus {
        border-bottom: 2px solid $color-basic-blue;
    }
    &:active {
     outline: none;
        border-bottom: 2px solid $color-basic-blue;
        color: $color-dark-grey;
        @include font (19px,18px);
    }

    @media (min-width: $tablet-width) {
        padding: 16px 0 18px 18px;
        margin-bottom: 25px;
        width: 100%;
    }
   
}
.initials__input::placeholder {
    @include font (17px,18px);
    color: $color-black-opacity-light; 

    @media (min-width: $tablet-width) {
        @include font (19px,18px);
    }
}