.initials {
    margin-bottom: 11px;

    @media (min-width: $tablet-width) {
        margin: 0;
        padding: 50px 50px 26px 50px;
        display: grid;
        grid-template-columns: 167px 1fr;
    }

    @media (min-width: $desctop-width) {
        padding: 50px 248px 26px 140px;
        grid-template-columns: 116px 1fr;
    }
}
.form__title-initials {
    @media (min-width: $tablet-width) {
        padding-top: 19px;
    }
}
.initials__wrapper {
    padding-top: 11px;
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
        padding: 0;
        
    }

}
.initials__wrap {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
        flex-direction: row;
    }
}
.initials__label {
    @include font (18px,18px,700);

    @media (min-width: $tablet-width) {
        @include font (19px,18px,700);
        padding-top: 17px;
        margin-right: 29px;
    }
}
.initials__input {
    border: none;
    border-bottom: 2px solid $color-basic-black;
    padding: 18px 0 15px 0;
    margin-bottom: 24px;

    &:hover,
    &:focus {
        border-bottom: 2px solid $color-basic-blue;
    }
    &:active {
     outline: none;
        border-bottom: 2px solid $color-basic-blue;
        color: $color-dark-grey;
        //@include font (19px,18px);
        font-size: 19px;
        line-height: 18px;
    }

    @media (min-width: $tablet-width) {
        padding: 20px 0 15px 18px;
        margin-bottom: 24px;
        width: 100%;
    }
   
}
.initials__input::placeholder {
    @include font (17px,18px);
    color: $color-black-opacity-light; 

    @media (min-width: $tablet-width) {
        @include font (19px,18px);
    }
}