.promo {
  background: url("../../img/hero-mobile@.jpg") no-repeat;
  background-position: 0 -21px;
  padding-top: 73px;
}

.promo__title {
  margin: 0 auto;
  width: 260px;
  @include font(27px,30px,700);
  margin-bottom: 120px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu__link {
  position: relative;
  background-color: $color-light-mint;
  padding: 24px 160px 31px 30px;
  @include font(19px,24px,700);
  color: $color-white;
}

.menu__link:last-child {
  background-color: $color-basic-mint ;
}
.menu__link:first-child:after {
  content: url("../../img/interior.svg");
  position: absolute;
  width: 42px;
  height: 60px;
  top: 23px;
  right: 36px;
}
.menu__link:last-child:after {
  content: url("../../img/toy.svg");
  position: absolute;
  width: 60px;
  height: 60px;
  top: 21px;
  right: 27px;
}
.product {
  padding: 31px 30px 0 30px;
}
.product__title {
  margin: 0;
  @include font (25px, 30px,700);
  margin-bottom: 4px;
}
.product__subtitle {
  margin: 0;
  @include font (17px,20px,700);
  color: $color-light-mint;
  margin-bottom: 18px;
}
.description__text {
  margin: 0;
  color:$color-night-grey;
  @include font (15px,24px);
  margin-bottom: 28px;
}
.description__table {
  margin-bottom: 28px;
  border-collapse: collapse;
}

.description__cell {
  width: 97px;
  height: 39px;
  @include font (15px,20px);
  color: $color-night-grey;
  vertical-align: middle;
  border-bottom: 1px $color-light-grey solid;
}
.description__cell:nth-child(2n) {
  width: 162px;
}
.description__img {
  width: 260px;
  height: 315px;
  margin-bottom: 26px;
}
.description__price {
  margin: 0;
  @include font (17px,24px,700);
  color: $color-night-grey;
  text-align: center;
  margin-bottom: 25px;
}
.description__button {
  margin: 0;
  padding: 0;
  @include font (18px,20px,700);
  font-family: 'Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  color:$color-night-grey;
  background-color:$color-white;
  padding: 16px 76px 16px 76px;
  border: 2px $color-night-grey solid;
}
