.menu {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 22px 0 0 0;
    border-bottom: 1px $color-light-grey solid;

    @media (min-width:$tablet-width) {
        padding: 22px 0 0 50px;
        display: block;
    }
    @media (min-width:$desctop-width) {
        display: flex;
        padding:0;
        padding-top: 9px;
        text-align: center;
        
    }
  }
  .menu__button {
    position: absolute;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    right: 30px;
    top: 32px;

    @media (min-width: $tablet-width) {
        display: none;
    }
   
  }

.menu__close-icon {
    display: none;
}
.menu-logo__wrap {
    width: 86px;
    height: 35px;
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
        width: 113px;
        height: 46px;
        margin-bottom: 20px;
    }

    @media (min-width: $desctop-width) {
        width: 149px;
        height: 72px;
        margin-bottom: 7px;
    }
}
  .menu__logo {
    &:hover,
    &:focus {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.3;
    }

   
}