.modal {
  display: none;
  padding: 34px 30px 47px 30px;
  border-top: 1px $color-grey solid;
  border-bottom: 1px $color-grey solid;
  box-shadow: 0 5px 5px -5px;

  @media (min-width:$tablet-width) {
    width: 566px;
    height: 336px;
    padding: 54px 108px 46px 108px;
    border: 1px $color-grey solid;
  }

}
.modal__title {
  margin: 0;
  @include font (25px,30px,700);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 17px;

  @media (min-width:$tablet-width) {
    @include font (30px,57px,700);
    margin-bottom: 35px;
  }
}
.form {
  display: flex;
  flex-direction: column;

}
.form__title {
  margin: 0;
  @include font (15px,30px);
  color: $color-dark-grey;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width:$tablet-width) {
    @include font (17px,30px);
  }
}
.form__check {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-bottom: 31px;

}

.check__box {
  @include font (17px,16px,700);
  color: $color-dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  border: 2px $color-light-grey solid;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 112px;
  }
  
}
.check__input {
  margin: 0;
  appearance: none;
}
.check__input:checked ~ .check__box {
  border: 2px $color-light-mint solid;
}
.form__button {
  padding: 0;
  @include font (17px,16px,700);
  color: $color-white;
  text-transform: uppercase;
  padding: 18px 80px 18px 80px;
  background-color: $color-light-mint ;
  border: none;

  @media (min-width:$tablet-width) {
    padding: 20px 127px 20px 127px;
  }
}
