
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

}
.nav__text {
  display: none;
  @include font (15px,24px);
  color: $color-dark-grey;

  &:hover,
    &:focus {
      color: $color-black-opacity;
    }
    &:active {
        color: $color-black-opacity-light;
    }

  @media (min-width:$tablet-width) {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    right: 50px;
    top: 108px;
  }
}
