.reviews {
    padding: 5px 30px 45px 30px;
    display: flex;
    flex-direction: column;

    @media (min-width:$tablet-width) {
        background-image: url("../../img/review.jpg");
        background-repeat: no-repeat;
        padding: 84px 50px 0 50px;
        margin-bottom: 68px;
       position: relative;

    }

    @media (min-width:$desctop-width) {
        padding: 80px 0 68px 179px;
        margin-bottom: 49px;
    }
  }
  .reviews__title {
    margin: 0;
    @include font (26px,30px,700);
    margin-bottom: 14px;

    @media (min-width:$tablet-width) {
        @include font (43px,50px,700);
        margin-bottom: 39px;
    }

    @media (min-width:$desctop-width) {
        @include font (53px,57px,700);
        margin-bottom: 35px;
    }
  }
  .reviews__quote {
    margin: 0;
    margin-bottom: 37px;

    @media (min-width:$tablet-width) {
        margin-bottom: 48px;
    }
  }
  .reviews__text {
    margin: 0;
    @include font (16px,30px);
    margin-bottom: 34px;

    @media (min-width:$tablet-width) {
      @include font (17px,30px);
      margin-bottom: 60px;
    }

    @media (min-width:$desctop-width) {
        margin-bottom: 44px;
    }
  }
  .review__name {
    @include font (18px,24px,700);
    font-style: normal;

    @media (min-width:$tablet-width) {
        @include font (18px,24px,700);
        display: flex;
        flex-direction: column;
    }
  }
  .review__nick {
    @include font (18px,24px,400);
    font-style: normal;

    @media (min-width:$tablet-width) {
        @include font (17px,30px,400);
    }
  }
  .review__button {
    padding: 15px 75px 13px 79px;

    @media (min-width:$tablet-width) {
        position: absolute;
        @include font (17px,20px,700);
        padding: 16px 38px 12px 38px;
        right: 50px;
        top: 78px;
    }
    @media (min-width: $desctop-width) {
        right: -2px;
    }
  }