
.sale {
    display: none;

    @media (min-width: $desctop-width) {
        display: block;
        position: absolute;
        display: flex;
        top: 109px;
        left: 79px;
        @include font ( 15px,24px,700);
        
    }
  }
  .sale__item {

    &:hover,
    &:focus {
      color: $color-black-opacity;
    }
    &:active {
        color: $color-black-opacity-light;
    }

      @media (min-width: $desctop-width) {
          padding-right: 69px;
      }
  }