.social {
    border-bottom: 1px $color-night-grey solid;
    padding: 0 59px 23px 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $color-social;

    

    @media (min-width:$tablet-width) {
        border: none;
        padding: 0;
    }
  }
  
  .insta {
      margin-right: 39px;
    &:hover,
    &:focus {
        fill: $color-blue-light;
    }

    &:active {
        fill: $color-blue-light-opacity;
    }
  }
  .facebook {
      margin-right: 41px;
    &:hover,
    &:focus {
        fill: $color-blue-light;
    }

    &:active {
        fill: $color-blue-light-opacity;
    }
  }
  .twitter {
    &:hover,
    &:focus {
        fill: $color-blue-light;
    }

    &:active {
        fill: $color-blue-light-opacity;
    }
  }