.wishes {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
        padding: 50px 50px 0 50px;
        margin-bottom: 56px;
        display: grid;
        grid-template-columns: 167px 1fr;
    }

    @media (min-width: $desctop-width) {
        padding: 50px 250px 0 140px;
        grid-template-columns: 113px 1fr;
        margin-bottom: 52px;
    }
}
.form__title-wishes {
    @media (min-width: $tablet-width) {
        padding-top: 21px;
    }
}
.wishes__field {
    padding: 0;
    margin-top: 3px;
    border: 2px solid $color-dark-grey;
    width: 100%;

    &:hover,
    &:focus {
        border: 2px solid $color-basic-blue;
    }
    &:active {
        border: 2px solid $color-basic-blue;
        color: $color-dark-grey;
        @include font (19px,18px);
    }

    @media (min-width: $tablet-width) {
        margin: 0;
    }
    
    
}
.wishes__field::placeholder {
    @include font (17px,18px);
    color: $color-black-opacity-light;
    width: 226px;
    padding: 16px 0 0 16px;

    @media (min-width: $tablet-width) {
        @include font (19px,18px);
        width: 470px;
    }
}