@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), local("OpenSans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), local("OpenSans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0 auto;
  font-family: "Open Sans", Arial, sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.button {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #444444;
  background-color: #FFFFFF;
  border: 2px #444444 solid;
}
.button:hover, .button:focus {
  background-color: #444444;
  color: #FFFFFF;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 1200px) {
  .main-page__wrap {
    padding: 0 74px 0 75px;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media (min-width: 768px) {
  .nav {
    display: block;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__text {
  display: none;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}
.nav__text:hover, .nav__text:focus {
  color: rgba(0, 0, 0, 0.6);
}
.nav__text:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .nav__text {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    right: 56px;
    top: 110px;
  }
}
@media (min-width: 1200px) {
  .nav__text {
    right: 80px;
    top: 109px;
  }
}

.promo {
  background: url("../../img/hero-mobile@.jpg") no-repeat;
  background-position: 0 -21px;
  background-size: 100% auto;
  padding-top: 73px;
}
@media (min-width: 768px) {
  .promo {
    background: url("../../img/hero-tablet.jpg") no-repeat;
    background-position: 0;
    background-size: 100% auto;
    padding: 155px 50px 0 50px;
  }
}
@media (min-width: 1200px) {
  .promo {
    background: url("../../img/hero-desktop.jpg") no-repeat;
    background-position: 0 -23px;
    background-size: 100% auto;
    padding: 159px 73px 0 78px;
  }
}

.promo__title {
  margin: 0 auto;
  width: 260px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 120px;
  text-align: center;
  color: #000000;
}
@media (min-width: 768px) {
  .promo__title {
    width: 668px;
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 371px;
  }
}
@media (min-width: 1200px) {
  .promo__title {
    font-size: 54px;
    line-height: 57px;
    font-weight: 700;
    margin-bottom: 353px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .promo__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
}

.promo__link {
  position: relative;
  background-color: #63D1BB;
  width: 100%;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}
.promo__link:hover, .promo__link:focus {
  transform: scaleY(1.09);
}
@media (min-width: 768px) {
  .promo__link {
    padding: 26px 167px 34px 36px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
  }
}

.promo__link:last-child {
  background-color: #56C3B2;
}

.promo__icon {
  fill: rgba(20, 144, 128, 0.5);
  position: absolute;
  width: 42px;
  height: 60px;
  top: 23px;
  right: 35px;
}
.promo__icon:hover, .promo__icon:focus {
  fill: rgba(20, 144, 128, 0.7);
}
.promo__icon:active {
  fill: rgba(20, 144, 128, 0.3);
}
@media (min-width: 768px) {
  .promo__icon {
    top: 31px;
  }
}

.promo__link:last-child .promo__icon {
  width: 60px;
  height: 60px;
  top: 21px;
  right: 27px;
}
@media (min-width: 768px) {
  .promo__link:last-child .promo__icon {
    top: 31px;
    right: 33px;
  }
}

.promo__text {
  margin: 0;
  width: 130px;
  padding: 24px 0 31px 30px;
}
@media (min-width: 768px) {
  .promo__text {
    padding: 0;
  }
}

.promo__img {
  display: none;
}
@media (min-width: 768px) {
  .promo__img {
    display: block;
    position: absolute;
    top: 821px;
    left: 0;
  }
}
@media (min-width: 1200px) {
  .promo__img {
    top: 816px;
  }
}

.product {
  padding: 31px 30px 0 30px;
}
@media (min-width: 768px) {
  .product {
    padding: 52px 50px 17px 50px;
  }
}
@media (min-width: 1200px) {
  .product {
    padding: 69px 0 74px 178px;
    position: relative;
  }
}

@media (min-width: 768px) {
  .product__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .product__wrapper {
    display: grid;
    grid-template-columns: 143px 2fr;
    position: absolute;
    top: 133px;
    left: 36px;
  }
}

.product__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 4px;
  color: #000000;
}
@media (min-width: 768px) {
  .product__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 38px;
  }
}
@media (min-width: 1200px) {
  .product__title {
    font-size: 55px;
    line-height: 57px;
    font-weight: 700;
    grid-column: 2;
    margin-bottom: 35px;
  }
}

.product__subtitle {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63D1BB;
  text-transform: uppercase;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .product__subtitle {
    margin: 0;
    width: 100px;
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
    padding-top: 6px;
    margin-right: 12px;
  }
}
@media (min-width: 1200px) {
  .product__subtitle {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (min-width: 768px) {
  .description {
    display: grid;
    grid-template-columns: 292px 334px;
    -moz-column-gap: 42px;
         column-gap: 42px;
    row-gap: 44px;
  }
}
@media (min-width: 1200px) {
  .description {
    grid-template-columns: 292px 525px;
    -moz-column-gap: 58px;
         column-gap: 58px;
    row-gap: 99px;
  }
}

@media (min-width: 768px) {
  .description__wrapper {
    height: 255px;
    grid-row: 1/2;
  }
}
@media (min-width: 1200px) {
  .description__wrapper {
    height: 264px;
    grid-row: 2/3;
  }
}

.description__text {
  margin: 0;
  color: #444444;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .description__text {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .description__text {
    margin-bottom: 47px;
  }
}

.description__table {
  margin-bottom: 26px;
  border-collapse: collapse;
  width: 100%;
}
@media (min-width: 768px) {
  .description__table {
    margin-bottom: 0;
  }
}

.description__cell {
  width: 97px;
  height: 39px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  vertical-align: middle;
  border-bottom: 1px #ECECEC solid;
}

.description__cell:nth-child(2n) {
  width: 162px;
}

@media (min-width: 768px) {
  .description__picture {
    grid-row: 1/3;
    margin-top: 10px;
    width: 334px;
    height: 404px;
  }
}
@media (min-width: 1200px) {
  .description__picture {
    margin: 0;
    grid-row: 1/4;
    width: 525px;
    height: 636px;
  }
}

.description__img {
  width: 100%;
  height: 315px;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .description__img {
    margin: 0;
    width: 334px;
    height: 404px;
  }
}
@media (min-width: 1200px) {
  .description__img {
    width: 525px;
    height: 636px;
  }
}

.description__wrap {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .description__wrap {
    grid-row: 2/3;
    padding-top: 8px;
  }
}
@media (min-width: 1200px) {
  .description__wrap {
    grid-row: 3/4;
  }
}

.description__price {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  text-align: center;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .description__price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 32px;
  }
}

.description__button {
  padding: 15px 75px 14px 77px;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .description__button {
    padding: 16px 86px 12px 86px;
  }
}
@media (min-width: 1200px) {
  .description__button {
    margin-bottom: 0;
  }
}

.information {
  background-image: url(../../img/zigzag-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 37px 30px 0 32px;
}
@media (min-width: 768px) {
  .information {
    background-image: url(../../img/zigzag-table.svg);
    background-repeat: no-repeat;
    padding: 73px 50px 70px 50px;
  }
}
@media (min-width: 1200px) {
  .information {
    background-image: url(../../img/zigzag-desktop.svg);
    background-repeat: no-repeat;
    padding: 93px 0 73px 179px;
  }
}

.information__title {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 27px;
  color: #000000;
}
@media (min-width: 768px) {
  .information__title {
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 41px;
  }
}
@media (min-width: 1200px) {
  .information__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
  }
}

.information__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .information__list {
    display: grid;
    grid-template-columns: 265px 300px;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 58px;
  }
}

.information__text {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 32px;
  color: #000000;
}
@media (min-width: 768px) {
  .information__text {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .information__item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .information__item:nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
}

.information__img {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .information__img {
    margin-bottom: 18px;
  }
}

.information__item:nth-child(2n) .information__img {
  margin-bottom: 26px;
}

.information__item:nth-child(3n) .information__img {
  margin-bottom: 21px;
}

.information__item:nth-child(4) .information__img {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .information__item:nth-child(4) .information__img {
    margin-bottom: 18px;
  }
}

.information__item:nth-child(5) .information__img {
  margin-bottom: 26px;
}

.modal {
  padding: 34px 30px 47px 30px;
  border-top: 1px #C6C6C6 solid;
  border-bottom: 1px #C6C6C6 solid;
  box-shadow: 0 5px 5px -5px;
  position: absolute;
  top: calc(50% - 163px);
  background-color: #fff;
  z-index: 10;
}
@media (min-width: 768px) {
  .modal {
    width: 566px;
    height: 336px;
    padding: 54px 108px 46px 108px;
    border: 1px #C6C6C6 solid;
    left: 20%;
  }
}

.modal__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .modal__title {
    font-size: 30px;
    line-height: 57px;
    font-weight: 700;
    margin-bottom: 35px;
  }
}

.size {
  display: flex;
  flex-direction: column;
}

.size__title {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  text-align: center;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .size__title {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}

.size__check {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-bottom: 31px;
}

.check__box {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #444444;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  border: 2px #ECECEC solid;
  box-sizing: border-box;
}
.check__box:hover, .check__box:focus {
  border: 2px solid rgba(68, 68, 68, 0.3);
}
.check__box:active {
  border: 2px solid #63D1BB;
}
@media (min-width: 768px) {
  .check__box {
    width: 112px;
  }
}

.check__input {
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.check__input:checked ~ .check__box {
  border: 2px #63D1BB solid;
}

.size__button {
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 18px 80px 18px 80px;
  background-color: #63D1BB;
  border: none;
}
@media (min-width: 768px) {
  .size__button {
    padding: 20px 127px 20px 127px;
  }
}

.page-footer {
  padding: 25px 30px 22px 30px;
  background-color: #F1F1F1;
}
@media (min-width: 768px) {
  .page-footer {
    padding: 51px 50px 58px 50px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 51px 75px 58px 77px;
  }
}

.page-footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .page-footer__logo {
    display: block;
    fill: #000000;
  }
  .page-footer__logo:hover, .page-footer__logo:focus {
    fill: #46c1AE;
  }
  .page-footer__logo:active {
    fill: rgba(70, 193, 174, 0.3);
  }
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 22px 0 0 0;
  border-bottom: 1px #ECECEC solid;
}
@media (min-width: 768px) {
  .menu {
    padding: 22px 0 0 50px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: flex;
    padding: 0;
    padding-top: 9px;
    text-align: center;
  }
}

.menu__button {
  position: absolute;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  right: 30px;
  top: 32px;
}
@media (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__close-icon {
  display: none;
}

.menu-logo__wrap {
  width: 86px;
  height: 35px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .menu-logo__wrap {
    width: 113px;
    height: 46px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  .menu-logo__wrap {
    width: 149px;
    height: 72px;
    margin-bottom: 7px;
  }
}

.menu__logo:hover, .menu__logo:focus {
  opacity: 0.6;
}
.menu__logo:active {
  opacity: 0.3;
}

.reviews {
  padding: 5px 30px 45px 30px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .reviews {
    background-image: url("../../img/review.jpg");
    background-repeat: no-repeat;
    padding: 84px 50px 0 50px;
    margin-bottom: 68px;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .reviews {
    padding: 80px 0 68px 179px;
    margin-bottom: 49px;
  }
}

.reviews__title {
  margin: 0;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 39px;
  }
}
@media (min-width: 1200px) {
  .reviews__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    margin-bottom: 35px;
  }
}

.reviews__quote {
  margin: 0;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .reviews__quote {
    margin-bottom: 48px;
  }
}

.reviews__text {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .reviews__text {
    margin-bottom: 44px;
  }
}

.review__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 768px) {
  .review__name {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
  }
}

.review__nick {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 768px) {
  .review__nick {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}

.review__button {
  padding: 15px 75px 13px 79px;
}
@media (min-width: 768px) {
  .review__button {
    position: absolute;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    padding: 16px 38px 12px 38px;
    right: 50px;
    top: 78px;
  }
}
@media (min-width: 1200px) {
  .review__button {
    right: -2px;
  }
}

.arrows {
  fill: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .arrows {
    margin: 0;
    position: absolute;
    right: 68px;
    bottom: 57px;
  }
}
@media (min-width: 1200px) {
  .arrows {
    right: 18px;
    bottom: 127px;
  }
}

.arrows__left {
  padding: 0;
  padding: 13px 42px 13px 38px;
  background-color: #FFFFFF;
  border: 1px #ECECEC solid;
}
.arrows__left:hover, .arrows__left:focus {
  fill: rgba(0, 0, 0, 0.6);
}
.arrows__left:active {
  fill: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .arrows__left {
    padding: 0;
    border: none;
    padding-right: 37px;
  }
}

.arrows__right {
  padding: 0;
  padding: 13px 42px 13px 38px;
  background-color: #FFFFFF;
  border: 1px #ECECEC solid;
  border-left: none;
}
.arrows__right:hover, .arrows__right:focus {
  fill: rgba(0, 0, 0, 0.6);
}
.arrows__right:active {
  fill: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .arrows__right {
    padding: 0;
    border: none;
  }
}

.contacts {
  background-image: url(../../img/zigzag-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 45px 0 39px 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contacts {
    background-image: url(../../img/zigzag-table.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0;
    padding-top: 88px;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .contacts {
    background-image: url(../../img/zigzag-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 94px 0 105px 179px;
    display: grid;
    grid-template-columns: 295px 527px;
    -moz-column-gap: 54px;
         column-gap: 54px;
    row-gap: 35px;
  }
}

.contacts__title {
  margin: 0;
  font-size: 19px;
  line-height: 30px;
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 27px;
}
@media (min-width: 768px) {
  .contacts__title {
    margin: 0;
    font-size: 44px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 49px;
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .contacts__title {
    padding: 0;
    margin: 0;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    grid-column: 1;
    grid-row: 2/3;
    padding-top: 45px;
  }
}

@media (min-width: 768px) {
  .contacts__title::after {
    content: url(../../img/flag.svg);
    position: absolute;
    top: 64px;
    right: 53px;
  }
}
@media (min-width: 1200px) {
  .contacts__title::after {
    top: 155px;
    left: 65px;
  }
}

@media (min-width: 1200px) {
  .contact__picture {
    height: 457px;
    grid-column: 2;
    grid-row: 1/5;
  }
}

.contacts__img {
  width: 100%;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .contacts__img {
    margin-bottom: 51px;
  }
}
@media (min-width: 1200px) {
  .contacts__img {
    height: 457px;
    margin: 0;
  }
}

.contacts__img::before {
  content: url(../../img/map-pin.svg);
}

.contacts__button {
  padding: 15px 54px 13px 51px;
  align-self: center;
}
@media (min-width: 768px) {
  .contacts__button {
    padding: 16px 36px 12px 36px;
    margin-bottom: 57px;
  }
}
@media (min-width: 1200px) {
  .contacts__button {
    padding: 14px 27px 12px 27px;
    grid-column: 1;
    grid-row: 4/5;
    margin: 0;
    margin-right: 65px;
  }
}

.address {
  margin-bottom: 62px;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .address {
    margin: 0;
    padding: 0 50px 0 50px;
    display: flex;
    margin-bottom: 47px;
  }
}
@media (min-width: 1200px) {
  .address {
    padding: 0;
    grid-column: 1;
    grid-row: 3/4;
    flex-direction: column;
  }
}

.address__mail {
  display: flex;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .address__mail {
    margin: 0;
    margin-right: 64px;
  }
}
@media (min-width: 1200px) {
  .address__mail {
    margin: 0;
    margin-bottom: 33px;
  }
}

.address__office {
  display: flex;
}

.address__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .address__text {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}

.address__text:not(:last-child) {
  margin-right: 35px;
}
@media (min-width: 768px) {
  .address__text:not(:last-child) {
    margin-right: 30px;
  }
}

.address__link {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  text-decoration: underline;
  -webkit-text-decoration-color: #62D1BA;
          text-decoration-color: #62D1BA;
}
.address__link:hover, .address__link:focus {
  color: #46c1AE;
}
.address__link:active {
  -webkit-text-decoration-color: rgba(70, 193, 174, 0.1);
          text-decoration-color: rgba(70, 193, 174, 0.1);
}
@media (min-width: 768px) {
  .address__link {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}

.social {
  border-bottom: 1px #E5E5E5 solid;
  padding: 0 59px 23px 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #231F20;
}
@media (min-width: 768px) {
  .social {
    border: none;
    padding: 0;
  }
}

.insta {
  margin-right: 39px;
}
.insta:hover, .insta:focus {
  fill: #46c1AE;
}
.insta:active {
  fill: rgba(70, 193, 174, 0.3);
}

.facebook {
  margin-right: 41px;
}
.facebook:hover, .facebook:focus {
  fill: #46c1AE;
}
.facebook:active {
  fill: rgba(70, 193, 174, 0.3);
}

.twitter:hover, .twitter:focus {
  fill: #46c1AE;
}
.twitter:active {
  fill: rgba(70, 193, 174, 0.3);
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 23px 39px 0 39px;
}
@media (min-width: 768px) {
  .copyright {
    padding: 0;
  }
}

.copyright__text {
  margin: 0;
  font-size: 20px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 6px;
}
@media (min-width: 768px) {
  .copyright__text {
    margin-right: 27px;
  }
}

.copyright__icon {
  fill: #63D1BB;
}
.copyright__icon:hover, .copyright__icon:focus {
  fill: #46c1AE;
}
.copyright__icon:active {
  fill: rgba(70, 193, 174, 0.3);
}

@media (min-width: 768px) {
  .catalog {
    position: absolute;
    display: flex;
    top: 111px;
    left: 50px;
  }
}
@media (min-width: 1200px) {
  .catalog {
    top: 34px;
    left: 79px;
  }
}

.catalog__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border-bottom: 1px #ECECEC solid;
  padding: 28px 0 28px 76px;
}
@media (min-width: 768px) {
  .catalog__item {
    border: none;
    padding: 0;
    padding-right: 36px;
  }
}

@media (min-width: 1200px) {
  .catalog__item:first-child .catalog__link {
    border-right: 1px #ECECEC solid;
    padding: 34px 35px 34px 0;
  }
}

.catalog__link {
  color: #000000;
}
.catalog__link:hover, .catalog__link:focus {
  color: rgba(0, 0, 0, 0.6);
}
.catalog__link:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .catalog__link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .catalog__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .corn {
    position: absolute;
    display: flex;
    right: 50px;
    top: 1px;
  }
}
@media (min-width: 1200px) {
  .corn {
    right: 74px;
  }
}

.corn__item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border-bottom: 1px #ECECEC solid;
  padding: 28px 0 28px 30px;
}
.corn__item:hover, .corn__item:focus {
  color: rgba(0, 0, 0, 0.6);
}
.corn__item:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .corn__item {
    border: none;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .corn__item:first-child {
    border-left: 1px #ECECEC solid;
    border-right: 1px #ECECEC solid;
    padding: 34px 31px 30px 33px;
    margin-right: 31px;
  }
}

@media (min-width: 768px) {
  .corn__item:first-child .corn__link {
    display: none;
  }
}

@media (min-width: 768px) {
  .corn__item:first-child .corn__icon {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .corn__item:last-child {
    padding-top: 32px;
  }
}

.corn__icon {
  margin-right: 23px;
  fill: rgba(0, 0, 0, 0.2);
}
.corn__icon:hover, .corn__icon:focus {
  fill: #63D1BB;
}
.corn__icon:active {
  fill: rgba(99, 209, 187, 0.3);
}

.corn__icon:last-child {
  margin-right: 27px;
  padding-top: 1px;
}

.sale {
  display: none;
}
@media (min-width: 1200px) {
  .sale {
    display: block;
    position: absolute;
    display: flex;
    top: 109px;
    left: 79px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
  }
}

.sale__item:hover, .sale__item:focus {
  color: rgba(0, 0, 0, 0.6);
}
.sale__item:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1200px) {
  .sale__item {
    padding-right: 69px;
  }
}

.catalogue-promo {
  height: 177px;
  background-color: #F1F1F1;
}
@media (min-width: 768px) {
  .catalogue-promo {
    height: 226px;
    background-image: url(../../img/zigzag-white.svg);
    background-repeat: no-repeat;
    background-position: 0 212px;
    background-size: 100%;
  }
}
@media (min-width: 1200px) {
  .catalogue-promo {
    height: 271px;
    background-image: url(../../img/zigzag-white-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0 238px;
  }
}

.catalogue-promo__title {
  margin: 0;
  padding-top: 74px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .catalogue-promo__title {
    font-size: 43px;
    line-height: 50px;
    font-weight: 700;
    padding-top: 101px;
  }
}
@media (min-width: 1200px) {
  .catalogue-promo__title {
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    padding-top: 102px;
  }
}

.catalogue-content {
  padding: 30px 30px 0 30px;
}
@media (min-width: 768px) {
  .catalogue-content {
    padding: 78px 50px 0 50px;
  }
}
@media (min-width: 1200px) {
  .catalogue-content {
    padding: 111px 72px 0 78px;
  }
}

@media (min-width: 1200px) {
  .content__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 52px;
         column-gap: 52px;
  }
}

.card {
  border: 1px solid #ECECEC;
  margin-bottom: 30px;
}
.card:hover, .card:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.card:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .card {
    margin-bottom: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .card {
    display: block;
    margin-bottom: 57px;
  }
}

@media (min-width: 768px) {
  .card__picture {
    height: 332px;
  }
}
@media (min-width: 1200px) {
  .card__picture {
    height: 462px;
  }
}

@media (min-width: 768px) {
  .card__img {
    height: 334px;
  }
}
@media (min-width: 1200px) {
  .card__img {
    height: 462px;
  }
}

.card__discription {
  padding: 24px 26px 0 27px;
}
@media (min-width: 768px) {
  .card__discription {
    padding: 27px 33px 26px 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .card__discription {
    padding: 24px 32px 22px 27px;
  }
}

.card__title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 6px;
  color: #000000;
}
.card__title:hover, .card__title:focus {
  color: rgba(0, 0, 0, 0.6);
}
.card__title:active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .card__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .card__title {
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
  }
}

.card__text {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .card__text {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
  }
}
@media (min-width: 1200px) {
  .card__text {
    margin-bottom: 35px;
  }
}

@media (min-width: 1200px) {
  .card:nth-child(3) .card__text {
    margin-bottom: 12.5px;
  }
}

.card__wrapper {
  border-top: 1px solid #ECECEC;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .card__wrapper {
    margin: 0;
  }
}

.card__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .card__price {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
  }
}

.card__icon {
  fill: rgba(0, 0, 0, 0.2);
}
.card__icon:hover, .card__icon:focus {
  fill: #63D1BB;
}
.card__icon:active {
  fill: rgba(99, 209, 187, 0.3);
}

.video {
  padding-top: 23px;
  position: relative;
  border: 1px solid #ECECEC;
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
}
.video:hover, .video:focus {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
.video:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .video {
    padding: 0;
    display: grid;
    margin-bottom: 64px;
  }
}
@media (min-width: 1200px) {
  .video {
    margin-bottom: 105px;
    grid-template-columns: 683px 287px;
    -moz-column-gap: 79px;
         column-gap: 79px;
  }
}

.video__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 91px;
  margin-bottom: 25px;
  position: relative;
}
@media (min-width: 768px) {
  .video__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding-left: 107px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .video__title {
    padding: 0;
    padding-top: 96px;
    margin-bottom: 0;
    width: 178px;
  }
}

.video__title:before {
  content: url(../../img/video.svg);
  position: absolute;
  top: 12px;
  left: 34px;
}
@media (min-width: 768px) {
  .video__title:before {
    top: -3px;
    left: 42px;
  }
}
@media (min-width: 1200px) {
  .video__title:before {
    top: 47px;
    left: 0;
  }
}

.video__wrap {
  margin-bottom: 34px;
  position: relative;
}
@media (min-width: 768px) {
  .video__wrap {
    grid-column: 1;
    grid-row: 1/2;
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .video__wrap {
    height: 453px;
    grid-row: 1/4;
    margin: 0;
  }
}

.video__icon {
  position: absolute;
  top: calc(50% - 38px);
  left: calc(50% - 50px);
}
.video__icon:hover, .video__icon:focus {
  transform: scale(1.2);
}
.video__icon:active {
  transform: scale(0.8);
  opacity: 0.8;
}

.video__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 34px;
  color: #444444;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .video__text {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 17px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .video__text {
    padding: 0;
    margin: 0;
    width: 252px;
  }
}

.video__button {
  margin-bottom: 31px;
  font-size: 18px;
  line-height: 16px;
  font-weight: 700;
  padding: 16px 19px 16px 19px;
  align-self: center;
}
@media (min-width: 768px) {
  .video__button {
    margin: 0 42px 46px 42px;
    font-size: 17px;
    line-height: 16px;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .video__button {
    margin: 0 57px 43px 0;
  }
}

@media (min-width: 1200px) {
  .video__img {
    height: 453px;
  }
}

.form {
  padding: 17px 30px 0 31px;
}
@media (min-width: 768px) {
  .form {
    padding: 0;
    padding-top: 67px;
  }
}
@media (min-width: 1200px) {
  .form {
    padding-top: 101px;
  }
}

.form__text {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .form__text {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 81px;
  }
}
@media (min-width: 1200px) {
  .form__text {
    padding-left: 255px;
    width: 702px;
    margin-bottom: 81px;
  }
}

.form__title {
  margin: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63D1BB;
  text-transform: uppercase;
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  .form__title {
    margin: 0;
  }
}

.form__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #63D1BB;
  top: 6px;
  left: 60px;
}
@media (min-width: 768px) {
  .form__title::after {
    display: none;
  }
}

.form__title-mail::after {
  left: 78px;
}

@media (min-width: 768px) {
  .form__wrapper {
    padding: 0 50px 0 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .form__wrapper {
    padding: 0;
    width: 694px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.form__text-note {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  margin-bottom: 30px;
  padding-left: 2px;
}
@media (min-width: 768px) {
  .form__text-note {
    margin: 0;
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
  }
}

.form__button {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  padding: 18px 37px 14px 37px;
  margin-bottom: 55px;
  width: 100%;
}
@media (min-width: 768px) {
  .form__button {
    padding: 18px 30px 14px 30px;
    margin: 0;
    width: 230px;
  }
}

.type {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .type {
    padding: 0 50px 0 50px;
    display: grid;
    grid-template-columns: 167px 1fr;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .type {
    padding-left: 140px;
    grid-template-columns: 113px 1fr;
    margin-bottom: 7px;
  }
}

.type__wrapper {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .type__wrapper {
    padding: 0;
  }
}

.type__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 24px;
  padding-left: 61px;
  position: relative;
  width: 200px;
}
@media (min-width: 768px) {
  .type__label {
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    width: 100%;
    padding-left: 80px;
    margin-bottom: 58px;
  }
}
@media (min-width: 1200px) {
  .type__label {
    margin-bottom: 56px;
  }
}

@media (min-width: 768px) {
  .type__label:last-child {
    margin-bottom: 57px;
  }
}

.type__input {
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.type__box {
  position: absolute;
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
  border-radius: 50%;
  left: -1px;
  top: -7px;
}
.type__box:hover, .type__box:focus {
  border: 2px solid #62D1BA;
}
.type__box:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .type__box {
    width: 46px;
    height: 46px;
    top: -18px;
    left: 3px;
  }
}
@media (min-width: 1200px) {
  .type__box {
    top: -19px;
    left: 1px;
  }
}

.type__label:last-child .type__box {
  top: -13px;
}
@media (min-width: 768px) {
  .type__label:last-child .type__box {
    top: -18px;
  }
}

.type__input:checked + .type__box::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #62D1BA;
  border-radius: 50%;
  position: absolute;
  left: 11px;
  top: 11px;
}
@media (min-width: 768px) {
  .type__input:checked + .type__box::before {
    width: 20px;
    height: 20px;
    left: 13px;
    top: 13px;
  }
}

@media (min-width: 768px) {
  .color {
    background-color: #F1F1F1;
    padding: 68px 50px 8px 50px;
    display: grid;
    grid-template-columns: 167px 1fr;
  }
}
@media (min-width: 1200px) {
  .color {
    padding: 70px 0 8px 140px;
    grid-template-columns: 113px 1fr;
  }
}

.color__wrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .color__wrapper {
    padding: 0;
    display: grid;
    grid-template-columns: 262px 262px;
  }
}
@media (min-width: 1200px) {
  .color__wrapper {
    grid-template-columns: 262px 262px 262px;
  }
}

.color__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 43px;
  position: relative;
  padding-left: 61px;
}
@media (min-width: 768px) {
  .color__label {
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    margin-bottom: 58px;
    padding-left: 82px;
  }
}
@media (min-width: 1200px) {
  .color__label {
    margin-bottom: 57px;
  }
}

.color__input {
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.color__box {
  position: absolute;
  width: 34px;
  height: 34px;
  border: 2px solid #444444;
  left: 0;
  top: -12px;
}
.color__box:hover, .color__box:focus {
  border: 2px solid #62D1BA;
}
.color__box:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .color__box {
    width: 48px;
    height: 48px;
    top: -18px;
  }
}
@media (min-width: 1200px) {
  .color__box {
    top: -22px;
  }
}

.color__input:checked + .color__box {
  background-image: url(../../img/Checkbox/Tick.svg);
  background-repeat: no-repeat;
  background-position: 46% 58%;
}

.initials {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .initials {
    margin: 0;
    padding: 50px 50px 26px 50px;
    display: grid;
    grid-template-columns: 167px 1fr;
  }
}
@media (min-width: 1200px) {
  .initials {
    padding: 50px 248px 26px 140px;
    grid-template-columns: 116px 1fr;
  }
}

@media (min-width: 768px) {
  .form__title-initials {
    padding-top: 19px;
  }
}

.initials__wrapper {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .initials__wrapper {
    padding: 0;
  }
}

.initials__wrap {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .initials__wrap {
    flex-direction: row;
  }
}

.initials__label {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .initials__label {
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    padding-top: 17px;
    margin-right: 29px;
  }
}

.initials__input {
  border: none;
  border-bottom: 2px solid #000000;
  padding: 18px 0 15px 0;
  margin-bottom: 24px;
}
.initials__input:hover, .initials__input:focus {
  border-bottom: 2px solid #62D1BA;
}
.initials__input:active {
  outline: none;
  border-bottom: 2px solid #62D1BA;
  color: #444444;
  font-size: 19px;
  line-height: 18px;
}
@media (min-width: 768px) {
  .initials__input {
    padding: 20px 0 15px 18px;
    margin-bottom: 24px;
    width: 100%;
  }
}

.initials__input::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.initials__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .initials__input::-moz-placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
  }
  .initials__input::placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
  }
}

.phone {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .phone {
    margin: 0;
    padding: 50px 50px 0 50px;
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 167px 1fr;
  }
}
@media (min-width: 1200px) {
  .phone {
    padding: 50px 248px 0 140px;
    grid-template-columns: 113px 1fr;
  }
}

@media (min-width: 768px) {
  .form__title-phone {
    padding-top: 17px;
  }
}

.phone__input {
  border: none;
  border-bottom: 2px solid #000000;
  padding: 3px 0 17px 0;
}
.phone__input:hover, .phone__input:focus {
  border-bottom: 2px solid #62D1BA;
}
.phone__input:active {
  outline: none;
  border-bottom: 2px solid #62D1BA;
  color: #444444;
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .phone__input {
    padding: 17px 0 18px 17px;
    background-color: #F1F1F1;
  }
}

.phone__input::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.phone__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .phone__input::-moz-placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
  }
  .phone__input::placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
  }
}

.phone__icon {
  position: absolute;
  top: 30px;
  right: 7px;
  fill: rgba(0, 0, 0, 0.3);
}
.phone__icon:hover, .phone__icon:focus {
  fill: #62D1BA;
}
.phone__icon:active {
  fill: #62D1BA;
}
@media (min-width: 768px) {
  .phone__icon {
    top: 60px;
    right: 76px;
  }
}
@media (min-width: 1200px) {
  .phone__icon {
    top: 60px;
    right: 255px;
  }
}

.mail {
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .mail {
    margin: 0;
    padding: 28px 50px 50px 50px;
    background-color: #F1F1F1;
    display: grid;
    grid-template-columns: 167px 1fr;
  }
}
@media (min-width: 1200px) {
  .mail {
    padding: 28px 248px 50px 140px;
    grid-template-columns: 113px 1fr;
  }
}

@media (min-width: 768px) {
  .form__title-mail {
    margin: 0;
    padding-top: 15px;
  }
}

.mail__input {
  border: none;
  border-bottom: 2px solid #000000;
  padding: 5px 0 15px 0;
}
.mail__input:hover, .mail__input:focus {
  border-bottom: 2px solid #62D1BA;
}
.mail__input:active {
  outline: none;
  border-bottom: 2px solid #62D1BA;
  color: #444444;
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .mail__input {
    padding: 15px 0 16px 18px;
    background-color: #F1F1F1;
  }
}

.mail__input::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}

.mail__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .mail__input::-moz-placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
  }
  .mail__input::placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
  }
}

.mail__icon {
  position: absolute;
  top: 35px;
  right: 2px;
  fill: rgba(0, 0, 0, 0.3);
}
.mail__icon:hover, .mail__icon:focus {
  fill: #62D1BA;
}
.mail__icon:active {
  fill: #62D1BA;
}
@media (min-width: 768px) {
  .mail__icon {
    top: 40px;
    right: 72px;
  }
}
@media (min-width: 1200px) {
  .mail__icon {
    right: 250px;
  }
}

.wishes {
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .wishes {
    padding: 50px 50px 0 50px;
    margin-bottom: 56px;
    display: grid;
    grid-template-columns: 167px 1fr;
  }
}
@media (min-width: 1200px) {
  .wishes {
    padding: 50px 250px 0 140px;
    grid-template-columns: 113px 1fr;
    margin-bottom: 52px;
  }
}

@media (min-width: 768px) {
  .form__title-wishes {
    padding-top: 21px;
  }
}

.wishes__field {
  padding: 0;
  margin-top: 3px;
  border: 2px solid #444444;
  width: 100%;
}
.wishes__field:hover, .wishes__field:focus {
  border: 2px solid #62D1BA;
}
.wishes__field:active {
  border: 2px solid #62D1BA;
  color: #444444;
  font-size: 19px;
  line-height: 18px;
  font-weight: 400;
}
@media (min-width: 768px) {
  .wishes__field {
    margin: 0;
  }
}

.wishes__field::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  width: 226px;
  padding: 16px 0 0 16px;
}

.wishes__field::placeholder {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  width: 226px;
  padding: 16px 0 0 16px;
}
@media (min-width: 768px) {
  .wishes__field::-moz-placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    width: 470px;
  }
  .wishes__field::placeholder {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    width: 470px;
  }
}