@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), local("OpenSans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), local("OpenSans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0 auto;
  font-family: "Open Sans", Arial, sans-serif;
}

a {
  text-decoration: none;
}

.page-header {
  height: 79px;
  border-bottom: 1px #ECECEC solid;
  display: flex;
  padding-right: 32px;
  justify-content: center;
  align-items: center;
}

.nav__menu {
  margin: 0;
  padding: 0;
  height: 14px;
  background: none;
  border: none;
  padding-left: 67px;
}

.nav {
  display: none;
}

.promo {
  background: url("../../img/hero-mobile@.jpg") no-repeat;
  background-position: 0 -21px;
  padding-top: 73px;
}

.promo__title {
  margin: 0 auto;
  width: 260px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 120px;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.menu__link {
  position: relative;
  background-color: #63D1BB;
  padding: 24px 160px 31px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.menu__link:last-child {
  background-color: #56C3B2;
}

.menu__link:first-child:after {
  content: url("../../img/interior.svg");
  position: absolute;
  width: 42px;
  height: 60px;
  top: 23px;
  right: 36px;
}

.menu__link:last-child:after {
  content: url("../../img/toy.svg");
  position: absolute;
  width: 60px;
  height: 60px;
  top: 21px;
  right: 27px;
}

.product {
  padding: 31px 30px 0 30px;
}

.product__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 4px;
}

.product__subtitle {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63D1BB;
  margin-bottom: 18px;
}

.description__text {
  margin: 0;
  color: #444444;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 28px;
}

.description__table {
  margin-bottom: 28px;
  border-collapse: collapse;
}

.description__cell {
  width: 97px;
  height: 39px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  vertical-align: middle;
  border-bottom: 1px #ECECEC solid;
}

.description__cell:nth-child(2n) {
  width: 162px;
}

.description__img {
  width: 260px;
  height: 315px;
  margin-bottom: 26px;
}

.description__price {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  text-align: center;
  margin-bottom: 25px;
}

.description__button {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: uppercase;
  color: #444444;
  background-color: #FFFFFF;
  padding: 16px 76px 16px 76px;
  border: 2px #444444 solid;
}