@import "./blocks/general.scss/fonts.scss";
@import "./blocks/general.scss/variables.scss";
@import "./blocks/general.scss/mixin.scss";
@import "./blocks/body.scss";
@import "./blocks/nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/product.scss";
@import "./blocks/description.scss";
@import "./blocks/information.scss";
@import "./blocks/modal.scss";
@import "./blocks/footer.scss";
@import "./blocks/menu.scss";
@import "./blocks/reviews.scss";
@import "./blocks/arrows.scss";
@import "./blocks/contacts.scss";
@import "./blocks/address.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
@import "./blocks/catalog.scss";
@import "./blocks/corn.scss";
@import "./blocks/sale.scss";
@import "./blocks/catalogue.scss";
@import "./blocks/card.scss";
@import "./blocks/video.scss";

