@import "./blocks/general.scss/fonts.scss";
@import "./blocks/general.scss/variables.scss";
@import "./blocks/general.scss/mixin.scss";
@import "./blocks/header.scss";
@import "./blocks/nav.scss";
@import "./blocks/promo.scss";
@import "./blocks/product.scss";
@import "./blocks/description.scss";
@import "./blocks/information.scss";
@import "./blocks/main.scss";
@import "./blocks/footer.scss";
